/*AN*/

/*AN*/

.page {
  width: 100%;
  /* height: 80vh; */
 /*AN*/ height: 39vh;/*AN*/
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;/*AN*/
  justify-content: center;
  align-items: center;
  text-align: center; 
  background-color: white;
 
  
}
/*AN*/

/*AN*/
.heading {
  font-size: 45px;
}
.highlight {
  color: #7f78d2;
}
.countdown-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 0;
}
.countdown-box {
  background-color: #413c69;
  font-size: 50px;
  font-weight: 700;
  color: #dcd6f7;
  border-radius: 11px;
  width: 160px;
  height: 160px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
  animation: changeColor 1.5s linear infinite;
}
@keyframes changeColor {
  0%, 100% {
    background-color: #413c69; /* Initial color */
    color: #dcd6f7;
  }
  20% {
    background-color: #070424; /* Initial color */
    color: #dcd6f7;
  }
}
/*AN*/
.countdown-NCPC-box{
  background-color: #413c69;
  font-size: 50px;
  font-weight: 700;
  color: #dcd6f7;
  border-radius: 11px;
  width: 460px;
  height: 160px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
 
  
}

@media (max-width: 768px) {
  .page{
    height:100vh;
    background-color:navy;
  }
  .countdown-NCPC-box {
    width: 80%; 
    height: 120px; 
    font-size: 30px; 
    box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
  }
  .countdown-box {
    width: 80%; 
    height: 85px; /*AN*/
    font-size: 30px; 
    box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
   
  } 
}

@media (max-width: 1268px) {
  .page{
    height:137vh;
    background-color: white;
  }
  .countdown-NCPC-box {
    width: 60%; 
    height: 100px; 
    font-size: 30px; 
    box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
  }
  .countdown-box {
    width: 60%; 
    height: 120px; /*AN*/
    font-size: 30px; 
    box-shadow: 0 0 2px 7px rgba(255, 255, 255, 0.7);
   
  } 
}
/*AN*/
.legend {
  font-size: 30px;
  color: #a6b1e1;
}
.wish-message {
  font-size: 45px;
  font-weight: 700;
}
.birthdate {
  font-size: 25px;
  font-weight: 600;
  color: #7f78d2;
}
.credits {
  margin-top: 15px;
}
.github-logo {
  opacity: 0.5;
  width: 50px;
}
.github-logo:hover {
  opacity: 1;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.form input {
  margin: 10px;
}
input {
  color: var(--main-text-color-dark);
  outline: none;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
select {
  width: 300px;
  height: 40px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.527);
  font-family: Montserrat, sans-serif;
  border: 1px rgba(255, 255, 255, 0.164) solid;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
}
input:focus,
select:focus,
.btn:focus {
  border: 1px rgba(255, 255, 255, 1) solid;
  transition: all 0.5s;
}
.btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border: 1px rgba(255, 255, 255, 0.2) solid;
 
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.719);
  font-size: 18px;
  font-weight: 700;
}
.btn:hover {
  color: white;
}
a {
  color: #7f78d2;
  font-weight: bold;
  margin-top: 20px;
}
.gen-link {
  margin-top: 20px;
  font-size: 400;
}

.count_time{
  background-image:url('../Assets/Images/Galaxy.jpg');
  
}
