
.page {
  width: 100%;
height: 550px;
  display: flex;

  flex-direction: column;
  justify-content: center;

  text-align: center; 
  background-color: #01290e; 
}

.typing-container{
  color: #a6b1e1;
  font-size: 19px;
}

.heading {
  font-size: 45px;
}
.highlight {
  color: #7f78d2;
}
.countdown-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;

}
.countdown-box {
  font-size: 30px;
  font-weight: 700;
  color: #dcd6f7;
  border-radius: 9px;
  width: 95px;
  height: 85px;
  margin-top: 5%;
  margin-bottom: 0%;
  padding:1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.7);
  animation: colorChange 1s infinite;
}
@keyframes colorChange {
  0% {
    background-color:#413c69;
  }
  50% {
    background-color:rgb(82, 77, 172);
  }
  100% {
    background-color: #413c69;
  }
}
.countdown-NCPC-box{
  
  background-color: #010f29; 
  font-size: 40px;
  font-weight: 540;
  color: #dcd6f7;
  /* border-radius: 7px; */
  width: 390px;
  height: 100px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:4%;
}
.legend {
  font-size: 16px;
  color: #a6b1e1;
}
.wish-message {
  font-size: 45px;
  font-weight: 700;
}
.birthdate {
  font-size: 5px;
  font-weight: 600;
  color: #7f78d2;
}
.credits {
  margin-top: 15px;
}
.github-logo {
  opacity: 0.5;
  width: 50px;
}
.github-logo:hover {
  opacity: 1;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.form input {
  margin: 10px;
}
input {
  color: var(--main-text-color-dark);
  outline: none;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
select {
  width: 300px;
  height: 40px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.527);
  font-family: Montserrat, sans-serif;
  border: 1px rgba(255, 255, 255, 0.164) solid;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
}
input:focus,
select:focus,
.btn:focus {
  border: 1px rgba(255, 255, 255, 1) solid;
  transition: all 0.5s;
}
.btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border: 1px rgba(255, 255, 255, 0.2) solid;
 
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.719);
  font-size: 18px;
  font-weight: 700;
}
.btn:hover {
  color: white;
}
a {
  color: #7f78d2;
  font-weight: bold;
  margin-top: 20px;
}
.gen-link {
  margin-top: 20px;
  font-size: 400;
}
.type{
  margin-top: 70px;
  color:#7f78d2;
  font-weight: 300;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.caption{
  font-weight: 400;
  color: #cc3030;
  margin-top: 70px;
}
.button_reg{
  margin-top: 100px;
}