.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 16s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
